﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recaptcha Javascript Test</title>
</head>
<body>
    <div>
        <form method="POST" action="">
            <div id="captchadiv"></div>
            <table cellspacing="0" cellpadding="4" border="0" style="font-family: Helvetica, sans-serif; color: #000000; font-size: 12px;">
                <tr>
                    <td>
                        <div>
                            <input type="button" name="Button1" value="Submit" onclick="javascript: return validaRecaptcha();">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <!--script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script-->
        @System.Web.Optimization.Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
        @System.Web.Optimization.Scripts.Render("~/Scripts/recaptcha_ajax.js")
        <script type="text/javascript">
            Recaptcha.create("6Lfu_vsSAAAAAGL1lB62ifMWZ5cjJ0lLodS6rsjL", 'captchadiv', {
                tabindex: 1,
                theme: "clean",
                callback: Recaptcha.focus_response_field
            });
            function validaRecaptcha() {
                var captchaInfo = {
                    challengeValue: Recaptcha.get_challenge(),
                    responseValue: Recaptcha.get_response(),
                };

                $.ajax({
                    type: 'POST',
                    url: 'Home/ValidateCaptcha',
                    data: JSON.stringify(captchaInfo),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (msg) {
                        alert(msg); // Either true o false, true indicates CAPTCHA is validated successfully.
                    },
                    error: function () {
                        Recaptcha.reload();
                    }
                });

                Recaptcha.reload();
            }
        </script>
    </div>
</body>
</html>
